@charset "UTF-8";
@import "fadeSlider", "glitch", "textAnimation";

// ------------------------------------------------------
// Controll Animation delay & duration
//-------------------------------------------------------

@for $i from 1 through 20 {
  .delay#{$i} {
    animation-delay: #{$i * 100}ms;

    > * {
      animation-delay: #{$i * 100}ms;
    }
  }
}
@for $i from 1 through 20 {
  .dur#{$i} {
    animation-duration: #{$i * 100}ms;

    > * {
      animation-duration: #{$i * 100}ms;
    }
  }
}

$timing1 : cubic-bezier(1,0,.5,1);
$timing2 : cubic-bezier(.75,0,0,1);
$timing3: cubic-bezier(.32,.43,.49,1.36);


.inview--on,.hover--on{
  animation-play-state: running;
}


//-------------------
// rotate
//-------------------
.rotateRight{
}
.rotateRight.inview--on, .inview--on .rotateRight {
  animation-name: rotateRight;
  animation-timing-function: ease-out;
  animation-fill-mode: infinite;
}
.rotateLeft{
}
.rotateLeft.inview--on, .inview--on .rotateLeft {
  animation-name: rotateLeft;
  animation-timing-function: ease-out;
  animation-fill-mode: infinite;
}

@keyframes rotateRight{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}



//-------------------
// fadein
//-------------------
.fadein{
  opacity: 0;
}
.fadein.inview--on, .inview--on .fadein {
  animation-name: fadein;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


//-------------------
// fadeUp
//-------------------
.fadeUp{
  transform: translateY(10px);
  opacity: 0;
}
.fadeUp.inview--on, .inview--on .fadeUp {
  animation-name: fadeUp;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes fadeUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

//-------------------
// fadeDown
//-------------------
.fadeDown{
  transform: translateY(-15px);
  opacity: 0;
}
.fadeDown.inview--on, .inview--on .fadeDown {
  animation-name: fadeDown;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes fadeDown {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

//-------------------
// fadeLeft
//-------------------
.fadeLeft{
  transform: translateX(15px);
  opacity: 0;
}
.fadeLeft.inview--on, .inview--on .fadeLeft {
  animation-name: fadeLeft;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes fadeLeft {
  0% {
    transform: translateX(15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

//-------------------
// fadeRight
//-------------------
.fadeRight{
  transform: translateX(-15px);
  opacity: 0;
}
.fadeRight.inview--on, .inview--on .fadeRight {
  animation-name: fadeRight;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes fadeRight {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

//-------------------
// slideUp
//-------------------
.slideUp{
  transform: translateY(100px);
}
.slideUp.inview--on, .inview--on .slideUp {
  animation-name: slideUp;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}


//-------------------
// slideLeft
//-------------------
.slideLeft{
  transform: translateX(100vw);
}
.slideLeft.inview--on, .inview--on .slideLeft {
  animation-name: slideLeft;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes slideLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

//-------------------
// slideRight
//-------------------
.slideRight{
  transform: translateX(-100vw);
}
.slideRight.inview--on, .inview--on .slideRight {
  animation-name: slideRight;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
//-------------------
// clipinRight
//-------------------
.clipinRight{
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.clipinRight.inview--on, .inview--on .clipinRight {
  animation-name: clipinRight;
  animation-timing-function: $timing1;
  animation-fill-mode: forwards;
  @include ie{
    animation-name: fadeRight;
  }
}
@keyframes clipinRight{
  0%{
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

//-------------------
// clipinClock
//-------------------
.clipinClock{
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.clipinClock.inview--on, .inview--on .clipinClock {
  animation-name: clipinClock;
  animation-timing-function: $timing2;
  animation-fill-mode: forwards;
}
@keyframes clipinClock{
  0%{
    clip-path: polygon(0 0, 0 0, 0 10%, 0 10%);
  }
  33%{
    clip-path: polygon(100% 0, 0 0, 0 10%, 100% 10%);
  }
  66%{
    clip-path: polygon(100% 0, 0 0, 90% 100%, 100% 100%);
  }
  100%{
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}


//-------------------
// clipinCounterClock
//-------------------
.clipinCounterClock{
  // clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.clipinCounterClock.inview--on, .inview--on .clipinCounterClock {
  animation-name: clipinCounterClock;
  animation-timing-function: $timing2;
  animation-fill-mode: forwards;
}
@keyframes clipinCounterClock{
  0%{
    clip-path: polygon(0 90%, 0 90%, 0 100%, 0% 100%);
  }
  33%{
    clip-path: polygon(100% 90%, 0 90%, 0 100%, 100% 100%);
  }
  66%{
    clip-path: polygon(100% 0, 90% 0, 0 100%, 100% 100%);
  }
  100%{
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

//-------------------
// wave
//-------------------
.wave{
  transform: rotateX(0deg);
}
.wave.inview--on, .inview--on .wave {
  animation-name: wave;
  animation-timing-function:linear;
  animation-fill-mode:forwards;
}
@keyframes wave {
  0% {
    transform: rotateX(0deg) translateX(0px);
  }
  33% {
    transform: rotateX(-45deg) translateX(50px) scaleX(1.1);
  }
  66% {
    transform: rotateX(135deg) translateX(-50px) scaleX(1.1);
  }
  100% {
    transform: rotateX(0deg) translateX(0px);
  }
}
//-------------------
// flip
//-------------------
.flip{
  transform: rotateX(-180deg);
}
.flip.inview--on, .inview--on .flip {
  animation-name: flip;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes flip {
  0% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
//-------------------
// flipin
//-------------------
.flipin{
  transform: rotateX(-90deg);
}
.flipin.inview--on, .inview--on .flipin {
  animation-name: flipin;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes flipin {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
//-------------------
// zoomUp
//-------------------
.zoomUp{
  transform-origin:50% 50%;
  transform: scale(0.7) translate(0,0);
  opacity: 0;
}
.zoomUp.inview--on, .inview--on .zoomUp {
  animation-name: zoomUp;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes zoomUp {
  0% {
    transform: scale(0.7) translate(0,0);
    opacity: 0;
  }
  35% {
    transform: scale(1) translate(0,0);
  }
  70% {
    transform: scale(0.9) translate(0,0);
  }
  80% {
    transform: scale(1) translate(0,0);
  }
  90%{
    transform: scale(0.96) translate(0,0);
  }
  100% {
    transform: scale(1) translate(0,0);
    opacity: 1;
  }
}

//-------------------
// zoomDown
//-------------------
.zoomDown{
  transform: scale(1.2) translate(-30px,0);
  opacity: 0;
}
.zoomDown.inview--on, .inview--on .zoomDown {
  animation-name: zoomDown;
  animation-timing-function: $timing3,ease-in;
  animation-fill-mode: forwards;
}
@keyframes zoomDown {
  0% {
    transform: scale(1.2) translate(-30px,0);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0,0);
    opacity: 1;
  }
}


//-------------------
// blurin
//-------------------
.blurin{
  filter: blur(40px);
}
.blurin.inview--on, .inview--on .blurin {
  animation-name: blur;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
@keyframes blur {
  0% {
    filter: blur(40px);
  }
  100% {
    filter: blur(0px);
  }
}

//-------------------
// swing
//-------------------
.swing{
  transform-origin: bottom;
 
}
.swing.inview--on, .inview--on .swing {
  animation-name: swing;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(3deg);
  }
  27% {
    transform: rotate(-3deg);
  }
  33% {
    transform: rotate(1deg);
  }
  37% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(0deg);
  }
}


//-------------------
// bound
//-------------------
.bound{}
.bound.inview--on, .inview--on .bound{
  animation-name: bound;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes bound {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-7px);
  }
  30% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  55% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(0px);
  }
}
