@charset "UTF-8";


footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 650px;
  #pageFooter {
    position: relative;
    height: inherit;
    top: 0;
    width: 100%;
    background: $navy;

    .foot_logo {
      position: absolute;

      top: 75px;
      left: 240px;
      a {
        @include font(28px, 1.5, 200, 500);
        color: white;
      }
    }

    .foot_address {
      position: absolute;
      color: white;

      text-align: center;
      top: 125px;
      left: 85px;
      @include font(25px, 1.9, 50, 300);
    }

    .foot_badge {
      position: absolute;
      @include pc {
        top: 200px;
        left: 400px;
      }
      @include sp {
        top: 325px;
        left: 290px;
        img {
          width: 200px;
        }
      }
    }

    .foot_menu {
      position: absolute;
      top: 70px;
      left: 885px;
      z-index: $header-zindex - 1;
      width: auto;
      display: flex;

      > li {
        top: 0;
        &:nth-of-type(1) {
          width: 180px;
        }
        &:nth-of-type(2) {
          width: 180px;
        }
        &:nth-of-type(3) {
          width: 180px;
        }
        &:nth-of-type(4) {
          width: 180px;
        }
        a {
          color: white;
          width: inherit;
          text-align: left;
          transition: 0.2s;
          &:hover {
            color: $green;
          }
        }
        > a {
          @include font(16px, 25px, 100, 300);
          height: 20px;
        }
        > p {
          width: inherit;
          line-height: inherit;
          > a {
            width: inherit;
            height: 25px;
            @include font(14px, 25px, 100, 300);

            &::before {
              content: "ー";
              display: inline-block;
              margin-right: 5px;
            }
          }
        }
      }
    }

    .foot_copyright {
      @include font(10px, 25px, 100);
      position: absolute;
      display: block;
      width: $pc-width;
      bottom: 0;
      height: 25px;
      line-height: 20px;
      text-align: center;
      background: transparent;
      color: white;

      @include sp {
        width: $sp-width;
        height: 40px;
        bottom: 105px;
        @include font(15px, 20px, 100, 400);
      }
    }

    @mixin scrollToTop($size: 56px, $color-bg: white, $color-arrow: $green) {
      cursor: pointer;
      position: absolute;
      background: $color-bg;
      box-shadow: 0px 0px 5px #888;
      top: -$size/2;
      width: $size;
      height: $size;
      border-radius: 50%;
      transition: 0.5s;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: $size * 0.38;
        left: $size * 0.33;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $size/6 $size/5 $size/6;
        border-color: transparent transparent $color-arrow transparent;
        transition: 0.5s;
        transform: scaleY(0.8);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: $size * 0.38 + 2px;
        left: $size * 0.33;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $size/6 $size/5 $size/6;
        border-color: transparent transparent $color-bg transparent;
        transition: 0.5s;
        transform: scaleY(0.8);
      }
      &:hover {
        background: $color-arrow;
        transition: 0.5s;
        &::before {
          border-color: transparent transparent $color-bg transparent;
          transition: 0.5s;
        }
        &::after {
          border-color: transparent transparent $color-arrow transparent;
          transition: 0.5s;
        }
      }
    }

    .scrollToTop {
        @include scrollToTop(56px, white, $navy);
        right: 420px;
  
    }
  }
}
