
@charset "UTF-8";
@import "mixin","mq","base";

* {
  box-sizing: border-box;
  hanging-punctuation: allow-end;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body,
html {
  padding: 0;
}

html {
  margin: 0;
  opacity: 0;
  width: 0;
  height: 0;
  background: $html-bg;
}

body {
  margin: 0 auto;
  font-family: $gothic-font;

  @include pc {
    font-size: 16px;
  }
  @include sp {
    font-size: 28px;
  }


}
main {
  overflow: hidden;
  display:block;
  min-height: 1000px;
  position: relative;
  // background-color: white;
  background-color: $black;
  // animation:afterload 1s linear forwards;
  // animation-delay:2s;

  @keyframes afterload {
    0% {
      padding-top: 9999px;
    }
    100% {
      padding-top: 0px;
    }
  }
}

section,
footer {
  > div {
    position: relative;
    display: block;
    width: 100%;
    min-height: 300px;
    > * {
      position: absolute;
      display: block;
    }
  }
}

// section:nth-of-type(2n) {
//   > div {
//     background-color: rgba(255, 100, 200, 0.8);
//   }
// }
// section:nth-of-type(2n-1) {
//   > div {
//     background-color: rgba(100, 255, 200, 0.8);
//   }
// }

// footer {
//   > div {
//     background-color: rgba(100, 200, 255, 0.8);
//   }
// }

a {
  color: #555;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
  > li {
    list-style-type: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

figure {
  margin: 0;
  padding: 0;
  line-height: 0;
  display: inline-block;

  img {
    float: left;
    display: block;
  }
}

img {
  pointer-events: none;
}

menu {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd {
  margin: 0;
}

area {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
